   ul#bl {
        //list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #006;
        }

        b  {
            font-family: Arial;
            margin-left: 20px;

        }

        //li {
              float: left;
          }

        li a.dropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 20px 16px;
            text-decoration: none;
            font-size: 18px;
        }

        li a:hover, .dropdown:hover  {
            background-color: #44a;

        }

        //li.dropdown {
              display: inline-block;
          }

        .dropdown-content {
            display: none;
        //position: absolute;
            background-color: #f9f9f9;
        //min-width: 100px;
        }

        div.dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {background-color: #bbb}

        .dropdown:hover .dropdown-content {
            display: block;
        }